.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  gap: 8px; 
}

[class*="col-"] {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.flex{
  display: block;
  width: 100%;
}

.row{
  display:flex;
  flex-wrap: wrap;
  background:rgb(166, 20, 219);
  
}

.grid{
  background:rgb(166, 20, 219);
}
.grid *,
.flex .row * {
  background: pink;
  border: 1px solid #000000;
  margin-top: 10px;
}
/*Establecer Grid*/
.flex .columns-12 {
  flex: 0 0 calc((100% / 12) * 12);
}
.flex .columns-11 {
  flex: 0 0 calc((100% / 12) * 11);
}
.flex  .columns-10 {
  flex: 0 0 calc((100% / 12) * 10);
}
.flex  .columns-9 {
  flex: 0 0 calc((100% / 12) * 9);
}
.flex  .columns-8 {
  flex: 0 0 calc((100% / 12) * 8);
}
.flex  .columns-7 {
  flex: 0 0 calc((100% / 12) * 7);
}
.flex  .columns-6 {
  flex: 0 0 calc((100% / 12) * 6);
}
.flex  .columns-5 {
  flex: 0 0 calc((100% / 12) * 5);
}
.flex  .columns-4 {
  flex: 0 0 calc((100% / 12) * 4);
}
.flex  .columns-3 {
  flex: 0 0 calc((100% / 12) * 3);
}
.flex  .columns-2 {
  flex: 0 0 calc((100% / 12) * 2);
}
.flex  .columns-1 {
  flex: 0 0 calc((100% / 12) * 1);
}

/*Completar*/
@media screen and (min-width: 768px){
  .grid .columns-1 {
    grid-column: span 4; 
  }
  .grid .columns-2 {
    grid-column: span 4;
  }
  .grid  .columns-3 {
    grid-column: span 4;
  }
  .grid  .columns-4 {
    grid-column: span 12;
  }
  .grid  .columns-5 {
    grid-column: span 12;
  }
  .grid  .columns-6 {
    grid-column: span 2;
    height: 80px;
  }
  .grid .columns-7 {
    grid-column: span 7;
    height: 120px;
  }
  .grid  .columns-8 {
    grid-column: span 3;
    height: 80px;
  }
}

/*Completar*/
@media screen and (min-width: 1280px){
  .grid div{
  align-self: start;
  }
  .grid .columns-1 {
    grid-column: span 3; 
  }
  .grid .columns-2 {
    grid-column: span 3;
  }
  .grid  .columns-3 {
    grid-column: span 6;
  }
  .grid  .columns-4 {
    grid-column: span 6;
  }
  .grid  .columns-5 {
    grid-column: span 6;
  }
  .grid  .columns-6 {
    grid-column: span 8;
  }
  .grid .columns-7 {
    grid-column: span 4;
  }
  .grid  .columns-8 {
    grid-column: span 12;
  }
}

.grid * {
  grid-column: span 12;
  grid-auto-rows: min-content;
}

.grid .columns-1, .grid .columns-2, .grid .columns-3 {
  background-color: blue;
  height: 50px;
}

.grid .columns-4, .grid .columns-5 {
  background-color: rgb(35, 206, 146);
  height: 50px;
}

.grid .columns-6 {
  background-color: red;
  height: 100px;
}

.grid .columns-7 {
  background-color: pink;
  height: 100px;
}

.grid .columns-8 {
  background-color: yellow;
  height: 50px;
}

.grid div{
  align-self: start;
}